/* utility classes */
.df {
  display: flex;
}

.space__around {
  justify-content: space-around;
}

.flex_dir_col {
  flex-direction: column;
}

.mg_top {
  margin-top: 4rem;
}

.small__margin {
  margin-top: 1.5rem;
}

.bg__col {
  background-color: rgb(215, 229, 241);
}

.sans-serif {
  font-family: sans-serif;
}

.grey {
  color: grey;
}

.border {
  border: 3px solid red;
}

.font-size-para {
  font-size: 1.2rem;
}

.heading__two {
  font-size: 1.8rem;
}

.capabilities__info {
  text-align: center;
  height: 50vh;
}

.capabilities__info a {
  padding: 2rem 8rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.3rem;
  background-color: rgb(48, 39, 39);
  transition: all 0.5s;
  border: 2px solid rgb(208, 250, 0);
}

.cds__heading {
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 500;
}
