/* ========== Drop down menu css =============== */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  z-index: 1;
}
.game:hover .dropdown-content {
  display: block;
  text-decoration: none;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  background-color: rgb(246, 246, 246);
  font-family: sans-serif;
  padding: 0.1rem;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  display: block;
}
.dropdown-content a:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}
