.box-shadow {
  box-shadow: 3px 3px 6px black;
}

.br {
  border-radius: 0.5rem;
}
.gallery__column__one {
  display: flex;
  padding: 2rem;
  flex-direction: column;
}

.gallery__column__two {
  display: flex;
  padding: 2rem;
  height: 90%;
}

.gallery__col__three {
  padding: 2rem;
  margin-top: 28rem;
}

.gallery__col__four {
  padding: 2rem;
}
.gallery__img_one {
  width: 20rem;
}
.gallery__img_two {
  position: absolute;
  top: 33rem;
  right: 35rem;
  width: 20rem;
}

.gallery__img_three {
  width: 29rem;
  position: absolute;
  right: 4rem;
  top: 10;
}

.gallery__img_four {
  width: 30rem;
  position: absolute;
  bottom: -38rem;
  right: 4rem;
}
.gallery__img_five {
  width: 29rem;
  position: absolute;
  bottom: -63rem;
  right: 4rem;
}
.gallery__img_six {
  width: 40rem;
}

.gallery__img_seven {
  width: 35rem;
  position: absolute;
  left: 2rem;
  bottom: -75rem;
}

.gallery__img_nine {
  width: 40rem;
}

.gallery__img_ten {
  width: 30rem;
  right: 4rem;
  bottom: -105rem;
  position: absolute;
}

.gallery__img_eight {
  height: 60rem;
}
.gallery__img_eleven {
  height: 32rem;
  right: 4rem;
  bottom: -139rem;
  position: absolute;
}
